.Search-Bar {
  max-width: 800px;
  width: 60%;
  height: 40px;
  margin: auto;
  padding: 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 3px solid rgb(77, 158, 77);
  border-radius: 20px;
  overflow: hidden;

  transition: border-color .2s, border-radius .2s;
}
.Search-Bar.focused {
  border-color: black;
  border-radius: 12px;
}

.Search-Text {
  border-width: 0px;
  outline: none;
  background: none;
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-left: 12px;
  padding: 0px 0px 3px 0px;

  font-family: inherit;
  font-size: 20px;
}

.Listings-Container {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  max-width: 1200px;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px;
  background-color: rgb(192, 248, 215);
  column-gap: 8px;
}
.Listings-None {
  flex: auto;
  font-size: larger;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
}

.Listings-Element {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  padding: 8px;
  width: 100%;
}
.Listings-Element * {
  font-size: 1em;
}

.Listings-Element-Container {
  display: flex;
  flex-direction: column;
}

.Listings-Nav-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 16px auto auto auto;
  font-size: .6em;
  column-gap: 8px;
  max-width: 150px;
  width: 40%;
}
.Listings-Nav-Container > * {
  font-size: inherit;
}

.Listings-Nav-Button {
  box-sizing: border-box;
  padding: 0px 3px;
}

.Listings-Filter-Button {
  background-color: transparent;
  border: 0px;
  width: 48px;
  height: 48px;
  transition: background-color .15s;
}

.Listings-Filter-Button:hover {
  background-color: rgba(64, 64, 64, .2);
  cursor: pointer;
}

.Listings-Filter-Menu {
  margin: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: rgb(192, 248, 215);
  max-width: 1000px;
  padding: 20px;
}

.Listings-Filter-Row {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Listings-Filter-Row-Element {
  margin: 0px 20px;
  flex-grow: 1;
  text-align: left;
}

.Listings-Filter-Element {
  width: 100%;
  box-sizing: border-box;
}

label.Listings-Filter-Element {
  font-size: 18px;
}

input.Listings-Filter-Element, select.Listings-Filter-Element, option.Listings-Filter-Element {
  border-radius: 12px;
  border: 3px solid darkgreen;
  padding: 5px 8px;
  margin: 6px auto;
  font-family: inherit;
  font-size: 16px;
  transition: border-radius .2s;
}
input.Listings-Filter-Element:focus {
  border-radius: 8px;
}

@media screen and (min-width: 601px) {
  .Listings-Container {
    flex-direction: row;
    padding: 20px;
  }

  .Listings-None {
    padding: 16px;
  }

  .Listings-Element {
    width: 33%;
    margin: 8px;
  }

  .Listings-Filter-Row {
    flex-direction: row;
  }
  
  input.Listings-Filter-Element {
    font-size: 18px;
  }

  label.Listings-Filter-Element, select.Listings-Filter-Element, option.Listings-Filter-Element {
    font-size: 20px;
  }
}