* {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

input, textarea {
  text-align: left;
}

.hidden {
  display: none;
}

.Button-Background {
  background-color: transparent;
  border-radius: 6px;
  transition: background-color .1s;
}
.Button-Background:hover {
  background-color: rgba(64, 64, 64, .2);
  cursor: pointer;
}
.Button-Background:active {
  background-color: rgba(20, 20, 20, .2);
}

.App-Header {
  font-size: 32px;
}

.App-Header-Row {
  width: 100%;
  padding: 10px 0px;
}

.App-Nav {
  display: flex;
  position: fixed;
  background-color:rgb(225, 240, 218);
  width: 100%;
  padding: 0px 10px;
  
  font-size: 1.5em;
  
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.App-Nav-Main {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100% !important;
  max-height: 200px;
  transition: max-height .1s linear;
}
.App-Nav-Main > .App-Nav-Element {
  padding: 0px;
  padding-bottom: 10px;
}

.App-Nav-Element {
  border: none;
  background-color: transparent;
  font: inherit;
  transition: color .1s;
}
.App-Nav-Element:hover {
  cursor: pointer;
  color: gray;
  
}
.App-Nav-Element:active {
  color: rgb(180, 180, 180);
}

.App-Nav-Center-Icon {
  flex: 1 1 auto;
  margin-left: 0px;
  margin-right: 52px;
}
.App-Nav-Button-svg {
  flex: 0 1 auto;
  height: 80px;
}

.App-Nav-Menu-Button {
  display: initial;
  order: 0;
}

.Page {
  font-size: larger;
}

.Info-Row {
  min-height: 200px;
  padding: 20px;
}

.Med-Screen {
  display: none;
}

.App-Secondary {
  font-size: 26px;
}

@media screen and (min-width: 601px) {
  .App-Nav-Main {
    display: flex;
    flex-direction: row;
    width: auto !important;
    max-height: none !important;
    column-gap: 20px;
  }
  .App-Nav-Main > .App-Nav-Element {
    padding: 0px;
  }

  .App-Nav-Menu-Button {
    display: none;
  }

  .App-Nav-Center-Icon {
    display: none;
  }

  .App-Nav-Divider {
    display: initial;
  }

  .Med-Screen {
    display: initial;
  }
}
@media screen and (min-width: 721px) {
  .App-Header {
    font-size: 40px;
  }
  .App-Secondary {
    font-size: 32px;
  }
  .Info-Row {
    padding: 40px;
  }
}