.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.App-Header {
  font-size: 40px;
}

.App-Nav {
  display: flex;
  background-color:rgb(225, 240, 218);
  margin: auto auto;
  padding: 20px 0px;
  max-height: 60px;
  
  font-size: 1.5em;
  white-space: nowrap;
  
  flex-direction: row;
  align-items: center;
}

.App-Nav-Element {
  margin: 0px 10px;
  border: none;
  background-color: transparent;
  font: inherit;
}
.App-Nav-Element:hover {
  text-decoration: underline;
}

.App-Nav-Element:hover {
  cursor: pointer;
}

.App-Nav-Divider {
  border: 1px solid darkgray;
  height: 60px;
}

.Page {
  font-size: larger;
}

.Rounded {
  border-radius: 10px;
  border-style: none;
  background-color: rgb(52, 105, 64);
  height: 40px;
  font-size: 24px;
  font-family: inherit;
  color: white;
}

.Contact-Form {
  display: flex;
  flex-direction: column;
}
.Contact-Form-Element {
  width: 100%;
  min-width: 100px;
  box-sizing: border-box;
}
/* add some media query to make this not a row if small screen */
.Contact-Form-Row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 601px) {
  .Contact-Form-Row {
    flex-direction: row;
  }
}
.Contact-Form-Row-Element {
  margin: 0px 20px;
  flex-grow: 1;
  text-align: left;
}

.Contact-Form-Container {
  width: 60%;
  min-width: 300px;
  max-width: 600px;
  margin: auto;
  padding: 20px 20px 30px 20px;
  background-color: rgb(192, 248, 215);
  border-radius: 10px;
}