.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-Nav {
  display: flex;
  background-color:rgb(225, 240, 218);
  margin: auto auto;
  padding: 20px 0px;
  
  font-size: 1.5em;
  white-space: nowrap;
  
  flex-direction: row;
  align-items: center;
}

.App-Nav-Element {
  margin: 0px 10px;
  border: none;
  background-color: transparent;
  font: inherit;
  
}

.App-Nav-Element:hover {
  cursor: pointer;
}

.App-Nav-Divider {
  border: 1px solid darkgray;
  height: 60px;
}